/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;

//$body-bg: #fdf6e3; //Solarized background color

#quarto-sidebar .sidebar-search .aa-Autocomplete {
    width: 145px;
    background-color: #ffffff;    
    border: 2px solid #b9b4b4;
}

.sidebar #quarto-search svg.aa-SubmitIcon {
    width: 25px;
    height: 25px;
    color: #444;
    opacity: 1;
}

// This sets the color of the "selected" sidebar navigation item 
#quarto-sidebar .sidebar-item-container .active{
    color: #2196f3;
}

/*-- navbar --*/  //Currently not used
//.navbar {
//  padding-top: 0;
//  padding-bottom: 0;
//}

//.navbar-brand.navbar-brand-logo {  //Currently not used
//  display: flex;
//  padding-top: 0;/
//  padding-bottom: 0;
//  margin-right: 0;
//  margin-left: 5em;
//}

//.navbar-title {  //Currently not used
//  font-size: 1.75em;
//}

//img.navbar-logo {  //Currently not used
//  max-height: 45px;
//  width: auto;
//  margin-right: .75em;  
//  align-items: baseline;
//}

//#quarto-header {
//  border-bottom: 1px solid black;
//}
